%h3
  Редактировать #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    .panel-group#accordion
      .panel.panel-default
        .panel-heading
          .panel-title
            %a{:role => "button", :href => "#main_user",
              "data-toggle" => "collapse",
              "data-parent" => "#accordion",
              "aria-expanded" => "true",
              "aria-controls" => "main_user"}
              Имя пользователя и email
        .panel-collapse.collapse.in#main_user
          .panel-body
            .form-group-sm
              .col-sm-6
                = f.input :user_name
              .col-sm-6
                = f.input :email, required: true, autofocus: true
                - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  %p
                    Currently waiting confirmation for: #{resource.unconfirmed_email}

        .panel-heading
          .panel-title
            %a{:role => "button", :href => "#change_user_password",
              "data-toggle" => "collapse",
              "data-parent" => "#accordion",
              "aria-expanded" => "false",
              "aria-controls" => "change_user_password"}
              Изменить пароль
        .panel-collapse.collapse#change_user_password
          .panel-body
            .form-group-sm#new_user_password
              .col-sm-6
                = f.input :password, autocomplete: "off", hint: "Оставьте пустым, если не хотите менять пароль", required: false
              .col-sm-6
                = f.input :password_confirmation, required: false

        .panel-heading
          .panel-title
            %a{:role => "button", :href => "#about_user",
              "data-toggle" => "collapse",
              "data-parent" => "#accordion",
              "aria-expanded" => "false",
              "aria-controls" => "about_user"}
              Ф.И.О.
        .panel-collapse.collapse#about_user
          .panel-body
            .form-group-sm
              .col-sm-4
                = f.input :first_name
              .col-sm-4
                = f.input :middle_name
              .col-sm-4
                = f.input :last_name

    %p.row
      .col-sm-9
        .form-group-sm#current_user_password
          = f.input :current_password, hint: "необходимо ввести текущий пароль для подтверждения", required: true
          .form-actions#button
            = f.button :submit, "Обновить"
      .col-sm-3
        .well
          %h4 Удалить аккаунт
          %p
            Что-то не так? #{link_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Уверен?" }, method: :delete}
= link_to "Назад", :back