= simple_form_for(@article, wrapper: :inline_form) do |f|
  = f.error_notification
  .container-fluid
    .row
      .col
        .form-group
          %label
            Заголовок
          = f.input :title, label: 'Заголовок'
    .row
      .col
        .form-group
          %label
            Краткое описание
          = f.input :article_description,
                    label: 'Краткое описание',
                    as: :text
    .row
      .col
        .form-group
          %label
            Текст статьи
          = f.input :article,
                    label: 'Текст статьи',
                    as: :ckeditor,
                    input_html: { ckeditor: { toolbar: 'Full' } }

  .container.form-actions
    = f.button :submit, 'Сохранить', class: 'btn btn-sm'