%p#notice= notice

%p
  %b Заголовок:
  = @article.title
%p
  %b Краткое описание статьи:
  = @article.article_description
%p
  %b Статья:
  = @article.article.html_safe
%p
  %b Пользователь:
  = @article.user.email

= link_to 'Редактировать статью', edit_article_path(@article)
\|
= link_to 'Назад', articles_path
