.row
  .col
    .well#user
      %table.table
        %tr
          %th
            Имя пользователя:
          %td
            = @user.user_name
        %tr
          %th
            Email:
          %td
            = @user.email
        %tr
          %th
            Пивилегии пользователя:
          %td
            = @user.role.name
        %tr
          %th
            Ф.И.О.:
          %td
            = user_full_name
        %tr
          %th
          %td{:align => 'right'}
            = link_to "Редактировать данные пользователя", edit_user_registration_path
