.form-group
  = simple_form_for(@payment, wrapper: :inline_form) do |f|
    = f.error_notification
    .form-control
      .row
        .col-4
          = f.input :client_address, label: 'Адрес:', placeholder: 'Адрес (обязательно)'
        .col-4
          = f.input :client_name, label: 'ФИО клиента:', placeholder: 'ФИО клиента'
        .col-4
          = f.input :client_payment, label: 'Сумма платежа:', placeholder: 'Сумма (обязательно)'
      .row
        .col-12
          = f.input :client_description, label: 'Описание:', placeholder: 'Описание', as: :text

    .form-control
      .row
        .col-4
          = f.input :client_new_connection, label: 'Новое подключение?', as: :boolean, html: { id: 'client_new_connection' }
        .col-8
          #material_payments
            - Material.all.each do |i|
              .form-check
                %label.form-check-label
                  %input{:type => "checkbox", :name => "payment[material_payments_attributes][#{i.id}][material_id]", :id => "pyment_material_payments_attributes_#{i.id}_material_id", :value => "#{i.id}"}
                    = i.material_name
                  %input{:type => "number", :name => "payment[material_payments_attributes][#{i.id}][quantity]", :id => "pyment_material_payments_attributes_#{i.id}_quantity"}

    .form-control
      = f.button :submit, 'Подтвердить', class: "btn btn-info"