.form.form-horizontal.form-group-sm
  = simple_form_for(@payment, wrapper: :inline_form) do |f|
    = f.error_notification

    .panel.well
      .form-inputs
        .panel-body
          = f.input :client_address, label: 'Адрес:', placeholder: 'Адрес (обязательно)'
          = f.input :client_name, label: 'ФИО клиента:', placeholder: 'ФИО клиента'
          = f.input :client_payment, label: 'Сумма платежа:', placeholder: 'Сумма (обязательно)'
      .form-inputs
        .panel-body
          = f.input :client_description, label: 'Описание:', placeholder: 'Описание', as: :text
          = f.input :client_new_connection, label: 'Новое подключение', as: :boolean
      .form-actions
        .panel-footer
          .btn
            = f.button :submit, 'Подтвердить', class: 'btn btn-default btn-group-justified'