= simple_form_for(@payment, wrapper: :inline_form) do |f|
  = f.error_notification
  .form-inline
    #modalPayment.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %h4.modal-title Платеж:
            %button.close{"data-dismiss" => "modal", :type => "button"}
              .fa.fa-close
          .modal-body.container-fluid
            .row
              .col
                .form-group
                  %label
                    Адрес клиента:
                  .input-group
                    = f.input :client_address, label: 'Адрес:', placeholder: 'Адрес'
            .row
              .col
                .form-group
                  %label
                    Ф.И.О. клиента:
                  .input-group
                    = f.input :client_name, label: 'ФИО клиента:', placeholder: 'ФИО клиента'
            .row
              .col
                .form-group
                  %label
                    Сумма платежа:
                  .input-group
                    = f.input :client_payment, label: 'Сумма платежа:', placeholder: 'Сумма'
            .row
              .col-12
                .form-group
                  %label
                    Описание:
                  .input-group
                    = f.input :client_description, label: 'Описание:', placeholder: 'Описание', as: :text
            .row
              .col
                = f.input :client_new_connection, label: 'Новое подключение?', as: :boolean, html: { id: 'client_new_connection' }
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
            = f.button :submit, 'Подтвердить', class: "btn", id: "submit"