.row
  - Material.all.each do |m|
    %p=m.id
    .col-6
      = f.association :material, as: :boolean,
                label_method: m.material_name,
                value_method: m.id
    .col-6
      = f.input :quantity


= f.input :material_id, as: :check_boxes,
              collection: Material.all.collect,
              label_method: lambda {|material| "#{material.material_name} - #{material.material_price} грн. (за штуку/метр)"},
              value_method: :id,
              prompt: "Выбор материала"