.container
  .card
    %table.table.table-sm
      %thead
        %tr
          %th.text-center Всего клиентов
          %th.text-center Выручка
          %th.text-center Заработано (%)
      %tbody
        %tr
          %td.text-center
            = Payment.report_today.total_and_percent_report(Payment.report_today)[2]
          %td.text-center
            = Payment.report_today.total_and_percent_report(Payment.report_today)[0]
          %td.text-center
            = Payment.report_today.total_and_percent_report(Payment.report_today)[1]

%br
%table.table.table-sm.table-hover
  %thead
    %tr
      %th.text-center Дата
      %th.text-center Адрес клиента
      %th.text-center ФИО клиента
      %th.text-center Новый?
      %th.text-center Пополнение
      %th.text-center Материалы
      %th.text-center Всего
      %th

  %tbody
    - @payments.report_today.each do |payment|
      %tr
        %td.text-center= payment.created_at.strftime('%d.%m.%Y')
        %td.text-left= payment.client_address
        %td.text-left= payment.client_name
        %td.text-center
          - if payment.client_new_connection?
            %span.fa.fa-check
        %td.text-center= payment.client_payment
        %td.text-center= payment.used_material
        %td.text-center= payment.payment_total
        %td
          = link_to payment do
            %span.fa.fa-info{'aria-hidden' => 'true', 'data-toggle' => 'tooltip', placement: 'left', title: 'Детальная инфомация'} &nbsp
          = link_to payment, :method => :delete,
                             :data => { :confirm => 'Точно?.. Уверен?..' } do
            %span.fa.fa-close{'aria-hidden' => 'true', 'data-toggle' => 'tooltip', placement: 'left', title: 'Удалить'}