%table.table.table-condensed.table-hover
  %thead.table-info
    %tr
      %th.text-center Дата
      %th.text-center Адрес клиента
      %th.text-center ФИО клиента
      %th.text-center Пополнение
      %th.text-center Материалы
      %th.text-center Всего
      %th

  %tbody
    - Payment.week.each do |payment|
      %tr
        %td.text-center= payment.created_at.strftime('%d.%m.%Y')
        %td.text-left= payment.client_address
        %td.text-left= payment.client_name
        %td.text-center= payment.client_payment
        %td.text-center= payment.used_material
        %td.text-center= payment.payment_total
        %td
          = link_to 'Показать', payment
          = link_to 'Редактировать', edit_payment_path(payment)
          = link_to 'Удалить', payment, :method => :delete,
                             :data => { :confirm => 'Точно?.. Уверен?..' }