= simple_form_for(@material, wrapper: :inline_form) do |f|
  = f.error_notification
  .form-inline
    #modalMaterial.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header.table-info
            %h4.modal-title Материал:
            %button.close{"data-dismiss" => "modal", :type => "button"}
              .fa.fa-close
          .modal-body.container-fluid
            .row
              .col
                .form-group
                  %label
                    Название материала:
                  .input-group
                    = f.input :material_name,
                              label: 'Название материала:',
                              placeholder: 'Название материала'
            .row
              .col
                .form-group
                  %label
                    Цена материала:
                  .input-group
                    = f.input :material_price,
                              label: 'Стоимость материала:',
                              placeholder: 'Стоимость материала'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
            = f.button :submit, 'Подтвердить',
                       class: 'btn-info',
                       id: 'submit'