%h2 Список используемых материалов

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Название материала
      %th Цена за единицу (метр)
      %th
      %th
      %th

  %tbody
    - @materials.each do |material|
      %tr
        %td= material.material
        %td= material.material_price
        %td= link_to 'Show', material
        %td= link_to 'Edit', edit_material_path(material)
        %td= link_to 'Destroy', material, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Добавить материал', new_material_path
