%p#notice= notice

%p
  %b Material name:
  = @material.material_name
%p
  %b Material price:
  = @material.material_price

= link_to 'Edit', edit_material_path(@material)
\|
= link_to 'Back', materials_path
