%p#notice= notice

%p
  %b Названиие материала:
  = @material.material
%p
  %b Стоимость за единицу (метр):
  = @material.material_price

= link_to 'Редактировать', edit_material_path(@material)
\|
= link_to 'Назад', materials_path
