= provide(:title, 'Отчеты')


%ul.nav.nav-pils
  %li.nav-item
    .nav-link
      = link_to "Отчет за #{Date.today.strftime('%d.%m.%Y')}",
                report_today_path,
                class: 'btn btn-sm',
                remote: true
  %li.nav-item
    .nav-link
      = link_to "Отчет за неделю",
                report_week_path,
                class: 'btn btn-sm',
                remote: true
  %li.nav-item
    .nav-link
      = link_to "Отчет за месяц",
                report_month_path,
                class: 'btn btn-sm',
                remote: true
  %li.nav-item
    .nav-link
      = link_to "Отчет по датам",
                report_by_date_path,
                class: 'btn btn-sm disabled',
                remote: true

.report
  /= render('reports/report_today')