= provide(:title, 'Отчеты')

%br
%h4 Отчеты

/ Вкладки
%ul.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#report_today", :role => "tab"} #{Date.today.strftime('%d.%m.%Y')}
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#report_week", :role => "tab"} за неделю
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#report_month", :role => "tab"} за месяц
  %li.nav-item.disable
    %a.nav-link{"data-toggle" => "tab", :href => "#report_by_date", :role => "tab"} по датам
/ Содержание вкладок
.tab-content
  #report_today.tab-pane.active{:role => "tabpanel"}
    %br
    = render partial: ('reports/report'), locals: {payments: @payments_today, expences: @expences_today}
  #report_week.tab-pane{:role => "tabpanel"}
    %br
    = render partial: ('reports/report'), locals: {payments: @payments_week, expences: @expences_week}
  #report_month.tab-pane{:role => "tabpanel"}
    %br
    = render partial: ('reports/report'), locals: {payments: @payments_month, expences: @expences_month}
  #report_by_date.tab-pane{:role => "tabpanel"}
    %br
    = render partial: ('reports/report'), locals: {payments: @payments_by_date, expences: @expences_by_date}