%ul.nav.nav-pills.flex-sm-column
  - if user_signed_in?
    %li.nav-item
      .nav-link
        = link_to 'Главная', root_path, class: 'btn'
    - if can? :manage, :rails_admin
      %li.nav-item
        .nav-link
          = link_to 'Админочка', rails_admin_path, class: 'btn'
    %li.nav-item
      .nav-link
        = link_to 'Платежи', payments_path, class: 'btn'
    %li.nav-item
      .nav-link
        = link_to 'Материалы', materials_path, class: 'btn'
    %li.nav-item
      .nav-link
        = link_to 'Отчеты', reports_path, class: 'btn'