%nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarToggler",
                                                "aria-expanded" => "false",
                                                "aria-label" => "Toggle navigation",
                                                "data-target" => "#navbarToggler",
                                                "data-toggle" => "collapse",
                                                :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "/"}
    WildPark
    %sub
      оператор
  #navbarToggler.collapse.navbar-collapse
    %ul.nav.navbar-nav.mr-auto
    %ul.nav.navbar-nav.pull-sm-right.mt-2.mt-md-0
      - if user_signed_in?
        - if can? :manage, :rails_admin
          %li.nav-item
            .nav-link
              = link_to rails_admin_path, class: 'btn btn-sm', data: {toggle: 'tooltip', placement: 'left'}, title: 'Перейти в админку' do
                %span.fa.fa-gear
        %li.nav-item
          .nav-link
            = link_to current_user.email, user_path(current_user), class: 'btn btn-sm'
        %li.nav-item
          .nav-link
            = link_to 'Выход', destroy_user_session_path, :method => 'delete', class: 'btn btn-sm'
      - else
        %li.nav-item
          .nav-link
            = link_to 'Вход', new_user_session_path, class: 'btn btn-sm'
        %li.nav-item
          .nav-link
            = link_to 'Регистрация', new_user_registration_path, class: 'btn btn-sm'